
@charset "ISO-8859-1";

/***********************/
/*       Fonts         */
/**********************/

@font-face
{
	font-family: 'Only Organic';
	src: url('../fonts/Only Organic.ttf')  format('truetype'),
		 url('../fonts/Only Organic.otf')  format('opentype');
}
@font-face
{
	font-family: 'Mouse trap';
	src: url('../fonts/MOUSE TRAP!.otf')  format('opentype');
}

@font-face
{
	font-family: 'Mystery-white';
	src: url('../fonts/Mytery White.ttf')  format('truetype');
}
@font-face
{
	font-family: 'Mystery';
	src: url('../fonts/mystery.ttf')  format('truetype');
}


/***********************/
/*    Header_home      */
/**********************/
.logo_lets_riddle
{
	width: 70%;
}

.login_icon
{
	width : 60%;
	
}


/**********************/
/*      Home      */
/**********************/



/**********************/
/*      Sign_in       */
/**********************/

.sign_in_logo
{ 
	text-align : center;
	margin : auto;
}

.div_sign_in
{
	/* min-height : 100vh; */
	display : grid;
  	grid-template-columns: repeat(2, 1fr);
	grid-gap : 10px;
	
}

input
{
	margin : 5px;
}

.div_sign_in_grid_2_2
{
	display : flex;	
	min-height : 100vh;
}

.div_sign_in_flex
{
	margin : auto;	
}


/**********************/
/*      Sign_up       */
/**********************/

.grid_sign_up
{
	padding : 5px;
	text-align : right;
}

.sign_up_text
{
	text-align : center;
	padding : 20px;
}


/**********************/
/*       Header       */
/**********************/

.header_ul_right_grid
{
	display : grid;
  	grid-template-columns: repeat(2, 1fr);
	grid-gap : 20px;
	
}



/**********************/
/*      My_Home       */
/**********************/

